*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
}
div#wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

div#background-wrap{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    position: absolute;
    /* top: calc((100vh - 100vh * 0.05) / 2); */
    /* left: calc((100vw - 100vw * 0.05) / 2); */
}
div#background{
    position: absolute; 
    /* width: 100vw;
    height: 100vh; */
    width: 100%;
    height: 100%;
    background: url('../img/bg2.jpg') no-repeat center center / cover;
}

div#frame{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid red;
}